<div class="container">
    <app-main-nav></app-main-nav>
    
        <h1>Neue Karte erstellen</h1>

        <form>
            <mat-form-field class="answer">
              <mat-label>Frage</mat-label>
              <textarea matInput #question rows=3 placeholder="Steht hier eine Frage?"></textarea>
            </mat-form-field>
        </form>
        <form>
            <mat-form-field class="answer">
              <mat-label>Antwort</mat-label>
              <textarea matInput #answer rows=3 placeholder="Hier steht die Antwort"></textarea>
            </mat-form-field>
        </form>
  
      
      <form class="tags">
        <mat-form-field class="tags">
          <mat-label>Zusätzliche Tags einfügen</mat-label>
          <input matInput #userInput type="text" (keydown.enter)="addTag(userInput.value)" 
          [formControl]="myControl" [matAutocomplete]="auto"  placeholder="Professor, Fach, ...">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
    </form>

      <mat-list>
        <mat-list-item *ngFor="let tag of cardTags">
          <h2 matLine>{{ tag }}</h2>
          <mat-icon color="primary" (click)="deleteTag(tag)" matListIcon>close</mat-icon>
        </mat-list-item>
      </mat-list>

        <p>
        <button mat-raised-button (click)="createCard(answer.value,question.value)" color="accent">
             Karte erstellen
        </button>
        </p>
    
    </div>