<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" 
      attr.role="dialog"
      mode="over"
      [(opened)]="opened">
    <mat-toolbar color="primary">Menü</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item (click)="loadnewPage('/home')">Übersicht</a>
      <a mat-list-item (click)="loadnewPage('/home/create/thema')">Neues Thema erstellen</a>
      <a mat-list-item (click)="loadnewPage('/home/evaluate')">Antworten evaluieren</a>
      <a mat-list-item (click)="userLogOff()">Logout</a>    
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <button class="backButton" mat-icon-button (click)="navigateBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      
      <span aria-label="back" class="location">{{ location }}</span>

    </mat-toolbar>
    
    <router-outlet (activate)="changeOfRoutes()" ></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
