<div class="grid-container">
   
    <mat-grid-list 
    [cols]="(isHandset$ | async) ? '1':'2'"
    [rowHeight]="(isHandset$ | async) ? '220px':'350px'">
      
      <mat-grid-tile  colspan="1" rowspan="2">
        <mat-card class="dashboard-card">
            <mat-card-title class="statistik-card-header">
              Statistik zum Thema <br/><br/><b *ngFor="let tag of tags"> {{ tag }}<br/></b>
            </mat-card-title>

            <div class="circ-container">
              <mat-card-content class="circ-content">
              <circle-progress
              percent={{calculateAverage(oneDay.cardsCorrect,oneDay.cardsOverall)}}
              [responsive] ="true"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]= setColor(calculateAverage(oneDay.cardsCorrect,oneDay.cardsOverall))
              [innerStrokeColor]="'#5c246b'"
              [animation]="true"
              [animationDuration]="700"
              [showSubtitle] = "false"
            ></circle-progress>
            {{ oneDay.cardsCorrect}} von {{ oneDay.cardsOverall }} richtig <br/>
            24 Stunden
          </mat-card-content> 

          <mat-card-content class="circ-content">
            <circle-progress
            percent={{calculateAverage(sevenDays.cardsCorrect,sevenDays.cardsOverall)}}
            [responsive] ="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]= setColor(calculateAverage(sevenDays.cardsCorrect,sevenDays.cardsOverall))
            [innerStrokeColor]="'#5c246b'"
            [animation]="true"
            [animationDuration]="700"
            [showSubtitle] = "false"
          ></circle-progress>
          {{ sevenDays.cardsCorrect}} von {{ sevenDays.cardsOverall }} richtig <br/>
          7 Tage 
        </mat-card-content> 
       </div>
        </mat-card>
      </mat-grid-tile>
      
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="jetztLernen()" class="dashboard-card">
            <mat-card-title class="dashboard-card-content">
              Jetzt lernen <br/> <br/> <mat-icon color="primary">class</mat-icon>
            </mat-card-title>
        </mat-card>
      </mat-grid-tile> 

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="navigateCreateCard()" class="dashboard-card">
            <mat-card-title  class="dashboard-card-content">
              Neue Frage erstellen <br/> <br/> <mat-icon color="primary">rate_review</mat-icon> 
            </mat-card-title>
        </mat-card>
      </mat-grid-tile> 
  
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="navigateEvaluation()" class="dashboard-card">
            <mat-card-title class="dashboard-card-content">
              Antworten zu diesem Thema evaluieren <br/> <br/>  <mat-icon color="primary">question_answer</mat-icon>
            </mat-card-title>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="navigateCardOverview()" class="dashboard-card">
            <mat-card-title class="dashboard-card-content">
              Alle Karten zu diesem Thema anzeigen <br/> <br/>  <mat-icon color="primary">open_in_new</mat-icon>
            </mat-card-title>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="deleteThema()" class="dashboard-card">
            <mat-card-title class="dashboard-card-content">
              Thema löschen <br/> <br/> <mat-icon color="primary">delete</mat-icon> 
            </mat-card-title>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card (click)="navigateHome()" class="dashboard-card">
            <mat-card-title class="dashboard-card-content">
              Zurück zur Übersicht <br/> <br/> <mat-icon color="primary">home</mat-icon> 
            </mat-card-title>
        </mat-card>
      </mat-grid-tile>


    </mat-grid-list>

</div>