<div class="container">
<app-main-nav></app-main-nav>

    <h1>
      {{ question.question }}
    </h1>

    <form class="answer-field">
      <mat-form-field class="answer">
        <mat-label>Antwort</mat-label>
        <textarea matInput #userInput rows=3 placeholder="Hier könnte die richtige Antwort stehen..."></textarea>
      </mat-form-field>
    </form>
  
    <p>
      <button mat-raised-button class="answerButton" (click)="createAnswer(userInput.value)" color="primary">Antworten</button>
    </p>
    <br/>

    <p>
      <button mat-raised-button (click)="showAnswer()"color="accent">Antwort anzeigen</button>
      <button mat-raised-button (click)="nextQuestion()" color="accent">Überspringen</button><br/>
    </p>

</div>