<div class="logo">
    <img src="assets/img/Alias-2-zugeschnitten.png">
</div>

<div class="text">
    <h2>Getting started</h2>
    <p>
        Erstelle ein Thema mit dem Tag "BWL"<br/>
        Dort findest du bereits einen größeren Fragenkatalog. Versuche mal mittels "Jetzt lernen" ein paar Fragen zu beantwortet<br/>
        Falls du eine Antwort abgegeben hast (und nicht die Antwort angezeigt hast), hast du die Möglichkeit dich selbst zu Bewerten <br/>
        Zusätzlich hast du die Möglichkeit Antworten anderer (natürlich anonym) zu bewerten. Den Grund dafür findest du unter dem Punkt <b>Was gilt als richtig?</b>
    </p>
    <h2>Was ist ein Thema und wie erstell ich eines?</h2>
    <p>
        Themen sind eine Kollektion verschiedener Tags.Diese können Fächer, oder auch z.B. Professoren sein.<br/>
        Fragen können dabei von jedem Studenten/ Professor der TH erstellt werden. Diese sind automatisch für jeden verfügbar<br/>
        Wenn ihr also als Thema "Mathe, ProfXY" erstellt, kriegt Ihr als explizit Fragen in denen beide Tags vorkommen.<br/>
        Wenn ihr allgemein Frage zu einem Thema habt, gebt einfach nur das Fach, z.B. "Mathe" an  <br/>
    </p>

    <h2>Was sind Tags?</h2>
    <p>
        Tags grenzen Fragen ein. Es können Mischungen von z.B. Fach , Professor etc. sein.<br/>
        Erstellt euch einfach ein Thema mit einem oder mehreren entsprechenden Tags und los gehts <br/>
    </p>

    <h2>Was gilt als "richtig"?</h2>
    <p>
        Die Korrektheit wird als Durchschnitt von 3 Parametern bestimmt:<br/>
        <li>Eigenbewertung</li>
        <li>Bewertung anderer Nutzer</li>
        <li>Bewertung einer Maschine mittels NLP</li>
        Aus diesen Werten wird ein Wert von 0 bis 100 gebildet. Liegt dieser Wert bei 50 oder höher, so taucht die Karte in deiner Statistik als richtig auf<br/>
        In der Übersicht sieht du dabei jeweils die Statistik der letzten 24 Stunden, in der Themenübersicht zusätzlich noch die der letzen 7 Tage<br/>
        Ziel dabei ist es, zu vergleichen was Menschen als korrekt empfinden, und was eine Maschine mit mathematischen Verfahren als korrekt ansieht<br/>
    </p>

    <h2>Wieso soll ich antworten evaluieren?</h2>
    <p>
        Ziel dieses Projekts ist es, Unterschiede zw. Mensch und Maschine im Bezug auf empfundene Korrektheit zu ermitteln <br/>
        Deshalb sammeln wir menschliche Bewertungen
    </p>
    

</div>

