<div class="container">    
        <h1>
          Eigenes Thema hinzufügen
        </h1>
        <form class="tags">
            <mat-form-field class="tags">
              <mat-label>Tags/Filter einfügen</mat-label>
              <input matInput #userInput type="text" (keydown.enter)="addTag(userInput.value)" 
              [formControl]="myControl" [matAutocomplete]="auto"  placeholder="Professor, Fach, ...">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
        </form>

          <mat-list>
            <mat-list-item *ngFor="let tag of tags">
              <h2 matLine>{{ tag }}</h2>
              <mat-icon color="primary" (click)="deleteTag(tag)" matListIcon>close</mat-icon>
            </mat-list-item>
          </mat-list>


        <span>
          <button mat-raised-button class="create-button" (click)="createThema()" color="accent">Thema erstellen</button>
        </span>
    
        <h1>
          Bestehendes Thema wählen
        </h1>
        <br/>
      
      <div *ngFor="let recom of recommendation" class="recom-container">
        
        <p>
        <button  mat-stroked-button (click)="createExistingThema(recom)" color="primary" class="tag-button">
            {{ recom.tag }} <br/>
            {{ recom.count }} Fragen
        </button>
        </p>
        
        <br/>
      </div>

    </div>
